<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Announce</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header_body">
                <a href="" class="header_logo">
                    <img src="image/test.svg" alt="">
                </a>
                <div class="header_burger">
                    <span></span>
                </div>
                <nav class="header_menu">
                    <ul class="header_list">
                        <li><a href="#" class="header_link">Главная</a></li>
                        <li><a href="#" class="header_link enter">Войти</a></li>
                        <li><a href="#" class="header_link registration">Регистрация</a></li>
                        <li><a href="#" class="header_link">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="content">